.parent{
    width: 800px;
    height: 600px;
    display: grid;
    margin: auto;
    background-color: beige;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.child{
    margin: 10px;
    border: 2px solid black;
    background-color: rgb(147, 92, 92);
    /* margin: 30px; */
    
}
.parent :nth-child(1){
    grid-column: 1/4;
    grid-row: 1;
    
}
.parent :nth-child(3){
    grid-column: 3/4;
    grid-row: 2; 
}
.parent :nth-child(4){
    grid-column: 1/4;
    grid-row: 3;
    
}
h2{
    color: aliceblue;
    text-align: center;
}